---
layout: page
title: "Resources"
permalink: /resources/
---

{% for category in site.data.resources %}
  <h2>{{ category.title | capitalize }}</h2>
  <ul class="posts-list">
  {% for resource in category.items %}
    <li>
      <section>
        <strong>
          <a href="{{ resource.link }}">{{ resource.name }}</a>
        </strong>
      </section>

      <section class="post-excerpt" itemprop="description">
        <p>{{ resource.description }}</p>
      </section>

      <section class="post-meta">
        <div class="post-date">{{ resource.type }}</div>
      </section>
    </li>
  {% endfor %}
  </ul>
  {% if forloop.last == false %}<hr>{% endif %}
{% endfor %}
<br>
